<!doctype html>
  <head>

    <%- include('../coms/head', {  }); -%>
    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='/stylesheets/main-style.css' />

    <style>
      #search-container {
          position:relative;
      }
      #search-img {
          position:absolute;
          bottom:5px;
          right:5px;
          width:25px;
          height:25px;
      }
      #address-table-container {
        margin-top: 10px;
      }
      .table-title {
        background-color: #84f4da;
      }

      #select-container, #search-container {display: inline-block}
      #select-container {width: 25%;}
      #search-container {width: 70%;}
    </style>
  </head>

  <body class="bg-light">
    <%- include('../coms/menu', {  }); -%>
    <%- include('../coms/menu2', {  }); -%>
    <script>
      // active 메뉴 설정
      $(".nav-underline .nav-link").removeClass("active");
      $('.nav-underline .nav-link').eq(5).addClass('active');
    </script>

    <main role="main" class="container">
      <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-gray pb-2 mb-0 list-title">회원관리</h6>
    
        <div class="top-wrap"  width="100%">
          <div id="select-container" class="text-center">
            <select>
              <option>이름</option>
              <option>아이디</option>
              <option>전화번호</option>
            </select>
          </div>
          <div id="search-container" class="text-center">
            <input type="search" class="form-control" placeholder="">
            <img src="/images/search.png" id="search-img">
          </div>
        </div>
        
        <div id="address-table-container" class="text-center">
          <table class="table">
              <thead>
                <tr class="table-title">
                  <th scope="col">아아디</th>
                  <th scope="col" width=90>이름</th>
                  <th scope="col" width=90>승인여부</th>
                </tr>
                <tr onclick="showMemberInfo()" data-toggle="modal" data-target="#memberInfoModal">
                  <th scope="col">abcde00000</th>
                  <th scope="col">김뫄뫄</th>
                  <th scope="col">미승인</th>
                </tr>
                <tr onclick="showMemberInfo()" data-toggle="modal" data-target="#memberInfoModal">
                  <th scope="col">abcde00001</th>
                  <th scope="col">김뫄뫄</th>
                  <th scope="col">승인</th>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </main>

    <!-- Modal -->
    <div class="modal fade" id="memberInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">회원정보</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table>
                  <tr>
                    <th width="100">아이디</th>
                    <th>abcde00000</th>
                  </tr>
                  <tr>
                    <th >이름</th>
                    <th>김뫄뫄</th>
                  </tr>
                  <tr>
                    <th>전화번호</th>
                    <th>010-1234-5678</th>
                  </tr>
                  <tr>
                    <th>승인여부</th>
                    <th>미승인</th>
                  </tr>
                </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">승인</button>
            </div>
          </div>
        </div>
      </div>

    <script>
      function showMemberInfo() {
        console.log("here");
        
      }
    </script>

    <%- include('../coms/footer', {  }); -%>
  </body>
</html>
