<!doctype html>
  <head>

    <%- include('../coms/head', {  }); -%>
    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='/stylesheets/main-style.css' />

    <style>
      #search-container {
          position:relative;
      }
      #search-img {
          position:absolute;
          bottom:5px;
          right:5px;
          width:25px;
          height:25px;
      }
      #address-table-container {
        margin-top: 10px;
      }
      .table-title {
        background-color: #84f4da;
      }

      #select-container, #search-container {display: inline-block}
      #select-container {width: 25%;}
      #search-container {width: 70%;}

      .month-div {
        display: inline-block;
      }
      .month-div.left,.month-div.right {width: 30%;}
      .month-div.left {text-align: left}
      .month-div.right {text-align: right}

      #budget-table-container img {
        width: 15px;
      }
    </style>
  </head>

  <body class="bg-light">
    <%- include('../coms/menu', {  }); -%>
    <%- include('../coms/menu2', {  }); -%>
    <script>
      // active 메뉴 설정
      $(".nav-underline .nav-link").removeClass("active");
      $('.nav-underline .nav-link').eq(6).addClass('active');
    </script>

    <main role="main" class="container">
      
      <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-gray pb-2 mb-0 list-title">회비관리</h6>
        <div id="budget-table-container" class="text-center">
          <div>
            <div class='month-div left'><a><</a></div>
            <div class='month-div'>2018년 10월</div>
            <div class='month-div right'><a>></a></div>
          </div>
          <table class="table">
              <thead>
                <tr>
                  <th>회비잔액</th>
                  <th>500000</th>
                </tr>
                <tr>
                  <th>수입금액</th>
                  <th>100000000</th>
                </tr>
                <tr>
                  <th>지출금액</th>
                  <th>500000</th>
                </tr>
                <tr>
                  <th>합계금액</th>
                  <th>100000000</th>
                </tr>
              </tbody>
            </table>
        </div>
      </div>

      <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-gray pb-2 mb-0 list-title">수입현황</h6>
        <div id="budget-table-container" class="text-center">
          <table class="table">
            <thead>
              <tr>
                <th>이름</th>
                <th>6월</th>
                <th>7월</th>
                <th>8월</th>
                <th>9월</th>
                <th>10월</th>
              </tr>
              <tr>
                <th>김뫄뫄</th>
                <th><img src="/images/check.png"></th>
                <th><img src="/images/check.png"></th>
                <th><img src="/images/check.png"></th>
                <th><img src="/images/check.png"></th>
                <th><img src="/images/cross.png"></th>
              </tr>
              <tr>
                <th>김뫄뫄</th>
                <th><img src="/images/check.png"></th>
                <th><img src="/images/check.png"></th>
                <th><img src="/images/check.png"></th>
                <th><img src="/images/check.png"></th>
                <th><img src="/images/cross.png"></th>
              </tr>
            </tbody>
          </table>

          <small> - 수입 추가등록 - </small>
          <table class="table">
            <thead>
              <tr>
                <th>구분</th>
                <th>날짜</th>
                <th>금액</th>
              </tr>
              <tr>
                <th>어쩌다 생김</th>
                <th>2018-11-11</th>
                <th>100000</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="my-3 p-3 bg-white rounded box-shadow">
      <h6 class="border-gray pb-2 mb-0 list-title">지출현황</h6>
      <div id="budget-table-container" class="text-center">
        <table class="table">
            <thead>
              <tr>
                <th>구분</th>
                <th>날짜</th>
                <th>금액</th>
              </tr>
              <tr>
                <th>회식</th>
                <th>2018-11-11</th>
                <th>500000</th>
              </tr>
              <tr>
                <th>축구용품구입</th>
                <th>2018-11-13</th>
                <th>100000</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>

   

    <script>

    </script>

    <%- include('../coms/footer', {  }); -%>
  </body>
</html>
