@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  font-family: 'Do Hyeon', sans-serif;
}

body {
  padding-top: 56px;
}

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: var(--secondary);
}

.nav-underline .nav-link:hover {
  color: var(--blue);
}

.nav-underline .active {
  font-weight: 500;
  color: var(--blue);
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: var(--purple); }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

.list-group-item.active {
  background-color: #84f4da;
  border-color: #84f4da;
}
.tb-left-col {
width: 50px;
}
.tb-left-col img {
width: 25px;
height: 25px;
}
.list-title {
display: inline-block !important;
}
.list-add-sm {
position: relative;
}

.modal-body table {
  width: 100%;
}
.input-text-box,.input-select-box {
  margin: 0 0 5px 10px;
  padding: 10px;
  border: 1px solid #ddd;
  width: 90% !important;
}
.input-select-box {padding: 12px; border-radius: 0px; }

.memo {
  background-color: #84f4da;
  border-radius: 10px;
  font-size: smaller;
  padding: 10px;
}

.bar {
  height: 1px;
  border: 1px solid #e5e5e5;
  margin: 20px 0 20px 0;
}

.margin-20px {
  margin: 20px;
}

.cancel-btn {
  background-color: #ddd;
  border: 0;
  color: #495057;
}

.display-none {
  display: none;
}

.button-modify {
  background-color: transparent;
  border: 0;
}

.modal-footer{
  position: relative;
  z-index: 10000;
}
.modal-footer button{
  position: relative;
  z-index: 10001;
}

.modal-footer-center {
  padding: 1rem;
  border-top: 1px solid #e9ecef;
  text-align: center
}
.modal-footer-absolute {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px
}

.delete-div-absolute {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 10px;
}