<!doctype html>
  <head>

    <%- include('./head', {  }); -%>
    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='/stylesheets/main-style.css' />

    <style>
     
    </style>
  </head>

  <body class="bg-light">
    <%- include('./menu', {  }); -%>
    <%- include('./menu2', {  }); -%>
    <script>
      // active 메뉴 설정
      $(".nav-underline .nav-link").removeClass("active");
      $('.nav-underline .nav-link').eq(2).addClass('active');
    </script>

    <main role="main" class="container">
      <div class="my-3 p-3 bg-white rounded box-shadow">
        <p>개발중입니다.</p>
      </div>
    </main>

    <%- include('./footer', {  }); -%>
  </body>
</html>
