<!doctype html>
  <head>

    <%- include('./head', {  }); -%>
    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='/stylesheets/main-style.css' />

    <style>
      .form-changepw {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
      }

      .pw-btn {
        margin-top: 20px;
        background-color: #84f4da;
        border: 0px;
        color: #495057;
      }
    </style>
  </head>

  <body class="bg-light">
    <%- include('./menu', {  }); -%>
    <form class="form-changepw text-center" action="javascript:changePW();">
      <h5 class="margin-20px">비밀번호 변경</h5>
      <input type="password" id="inputPassword" class="form-control" placeholder="현재 비밀번호" required autofocus>
      <div class="bar"></div>
      <input type="password" id="newPassword" class="form-control" placeholder="새 비밀번호" required>
      <input type="password" id="confirmPassword" class="form-control" placeholder="새 비밀번호 재입력" required>
      <button class="btn btn-primary btn-block pw-btn" type="submit">비밀번호 변경</button>
      <button class="btn btn-primary btn-block cancel-btn">취소</button>
    </form>


    <script>
      function changePW() {
        console.log("change password");
      }
    </script>
    <%- include('./footer', {  }); -%>
  </body>

</html>
