<!doctype html>
  <head>

    <%- include('./head', {  }); -%>
    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='/stylesheets/main-style.css' />

    <style>
      .form-changepw {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
      }

      .pw-btn {
        margin-top: 20px;
        background-color: #84f4da;
        border: 0px;
        color: #495057;
      }
    </style>
  </head>

  <body class="bg-light">
    <%- include('./menu', {  }); -%>
    <form class="form-changepw text-center">
      <h5 class="margin-20px">탈퇴완료</h5>
      <small>
        정상적으로 처리되었습니다,<br>
        그동안 사용해주셔서 감사합니다.
      </small>
      <div class="bar"></div>
      <button class="btn btn-primary btn-block pw-btn" onclick="gohome()">확인</button>
    </form>


    <script>
      function gohome() {
        location.href = "/";
      }
    </script>
    <%- include('./footer', {  }); -%>
  </body>

</html>
