<!doctype html>
  <head>

    <%- include('./head', {  }); -%>
    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='/stylesheets/main-style.css' />

    <style>
      #search-container {
          position:relative;
      }
      #search-img {
          position:absolute;
          bottom:5px;
          right:5px;
          width:25px;
          height:25px;
      }
      #address-table-container {
        margin-top: 10px;
      }
      .table-title {
        background-color: #84f4da;
      }
    </style>
  </head>

  <body class="bg-light">
    <%- include('./menu', {  }); -%>
    <%- include('./menu2', {  }); -%>
    <script>
      // active 메뉴 설정
      $(".nav-underline .nav-link").removeClass("active");
      $('.nav-underline .nav-link').eq(4).addClass('active');
    </script>

    <main role="main" class="container">
      <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-gray pb-2 mb-0 list-title">연락처</h6>
        
        <div id="search-container" class="text-center">
          <input type="search" class="form-control" placeholder="이름">
          <img src="/images/search.png" id="search-img">
        </div>
      
        <div id="address-table-container" class="text-center">
          <table class="table">
              <thead>
                <tr class="table-title">
                  <th scope="col">#</th>
                  <th scope="col">이름</th>
                  <th scope="col">전화번호</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>010-0000-0000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>010-0000-0000</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>010-0000-0000</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </main>

    <%- include('./footer', {  }); -%>
  </body>
</html>
