
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/javascripts/offcanvas.js"></script>