<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="/images/favicon-soccer.png">
<title>개발FC Management System</title>

<!-- Bootstrap core CSS -->
<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- jquery JS (하단에 추가하면 '$' 인식 오류) -->
<script src="/lib/jquery/dist/jquery.min.js"></script>