<!DOCTYPE html>
<html>
  <head>
    <%- include('./head', {  }); -%>

    <link rel='stylesheet' href='/stylesheets/login-style.css' />
  </head>
 
  <body class="text-center">
    <form class="form-join" action="javascript:join();">
      <img class="mb-4" src="/images/soccer_main.png" alt="" width="45" height="45">
      <h1 class="h4 mb-3 font-weight-normal">회원가입</h1>
      <input type="id" id="inputID" class="form-control" placeholder="아이디" autofocus>
      <label class="alert-message alert-id display-none">아이디를 입력하세요.</label>
      <label class="alert-message alert-id2 display-none">중복된 아이디 입니다.</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="패스워드 (영문, 숫자 혼합하여 6~20자리 이내)">
      <label class="alert-message alert-pw display-none">패스워드를 입력하세요.</label>
      <label class="alert-message alert-pw2 display-none">영문, 숫자 혼합하여 6~20자리 이내로 입력하세요.</label>
      <input type="password" id="confirmPassword" class="form-control" placeholder="패스워드 확인">
      <label class="alert-message alert-confirmpw display-none">패스워드가 일치하지 않습니다.</label>
      <input type="text" id="inputName" class="form-control" placeholder="이름">
      <label class="alert-message alert-name display-none">이름을 입력하세요.</label>
      <input type="text" id="inputPhone" class="form-control" placeholder="전화번호 ('-'를 제외하고 입력해주세요.)">
      <label class="alert-message alert-phone display-none">숫자만 입력하세요.</label>
      <button class="btn btn-primary btn-block pw-btn" type="submit">회원가입</button>
      <button class="btn btn-primary btn-block cancel-btn" type="button" onclick="location.href='/'">취소</button>
    </form>

    <script>
      function join() {
        var _formObj = {
          id: $('#inputID').val(),
          password: $('#inputPassword').val(),
          confirmPassword: $('#confirmPassword').val(),
          name: $('#inputName').val(),
          phone: $('#inputPhone').val()
        };

        // 폼 체크 
        if(checkForm(_formObj)) {  
          $.ajax({
            url:'/join',
            type:'post',
            data: _formObj,
            success:function(data){
              switch (data.success) {
                case true:
                  alert('회원가입이 완료되었습니다.');
                  location.href = '/';
                  break;
                case false:
                  if(data.reason === 'duplication-error') 
                    $('.alert-id2').removeClass('display-none');
                  break;
              }

            },
            error: function(e) {
              console.log(e);
            }
        })

        } else return;
      }

      function checkForm(object) {
        var _pass = true;

        init(); //경고메세지 초기화

        //필수체크 
        if(object.id === '') {
          $('.alert-id').removeClass('display-none');
          _pass = false;
        }
        if(object.password === '') {
          $('.alert-pw').removeClass('display-none')
          _pass = false;
        };
        if(object.name === '') {
          $('.alert-name').removeClass('display-none');
          _pass = false;
        }
        
        //패스워드 유효성 체크 
        if(object.password !== '' && !chkPwd(object.password)) {
          $('.alert-pw2').removeClass('display-none');
          _pass = false;
        }

        //패스워드 일치 여부 체크 
        if(object.password !== object.confirmPassword) {
          $('.alert-confirmpw').removeClass('display-none');
          _pass = false;
        }

        //전화번호 숫자인지 체크 
        if(!$.isNumeric(object.phone) || object.phone < 0) {
          $('.alert-phone').removeClass('display-none');
          _pass = false;
        }
        
        return _pass;
      }

      function init() {
        $('.alert-id').addClass('display-none');
        $('.alert-id2').addClass('display-none');
        $('.alert-pw').addClass('display-none');
        $('.alert-pw2').addClass('display-none');
        $('.alert-confirmpw').addClass('display-none');
        $('.alert-name').addClass('display-none');
        $('.alert-phone').addClass('display-none');
      }

      function chkPwd(str){
        var reg_pwd = /^.*(?=.{6,20})(?=.*[0-9])(?=.*[a-zA-Z]).*$/;

        if(!reg_pwd.test(str)){
          return false;
        }
        return true;
      }

    </script>
  </body>
</html>
