<!DOCTYPE html>
<html>
  <head>
    <%- include('./head', {  }); -%>

    <link rel='stylesheet' href='/stylesheets/login-style.css' />
  </head>
 
  <body class="text-center">
    <form class="form-signin" action="javascript:login();">
      <img class="mb-4" src="/images/soccer_main.png" alt="" width="90" height="90">
      <h1 class="h3 mb-3 font-weight-normal">개발FC</h1>
      <input type="id" id="inputID" class="form-control" placeholder="아이디" required autofocus>
      <input type="password" id="inputPassword" class="form-control" placeholder="패스워드" required>
      <label class="alert-message error-id display-none">등록되지 않은 아이디 입니다.</label>
      <label class="alert-message error-pw display-none">잘못된 패스워드 입니다.</label>
      <label class="alert-message error-auth display-none">접근 권한이 없습니다. 관리자에게 문의하세요.</label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
      <button class="btn btn-lg btn-primary btn-block" type="button" onclick="location.href='/join'">회원가입</button>
      <!-- <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> 로그인 상태 유지
          </label>
      </div> -->
        
      <div class="find_info mb-3">
        <!-- <a href="#">아이디 찾기</a> <span class="bar">|</span> <a href="#">비밀번호 찾기</a> <span class="bar">|</span> <a href="/join">회원가입</a>		 -->
      </div>
      
      <p class="mt-5 mb-3 text-muted">&copy; 개발FC. All Rights Reserved.</p>
    </form>

    <script>
      document.querySelector('#inputPassword' || '#inputID').addEventListener('keypress', function (e) {
          var key = e.which || e.keyCode;
          if (key === 13) { // 13 is enter
            login();
          }
      });

      function login() {
        init();

        $.ajax({
            url:'/login',
            type:'post',
            data: {
              id: $("#inputID").val(),
              password: $("#inputPassword").val()
            },
            success:function(data){
              switch (data.success) {
                case true:
                  location.href = '/schedule';
                  break;
                case false:
                  switch (data.reason) {
                    case 'not-found':
                      $('.error-id').removeClass('display-none');
                      break;
                    case 'auth-error':
                      $('.error-auth').removeClass('display-none');
                      break;
                    case 'password-error':
                      $('.error-pw').removeClass('display-none');
                      break;
                  }
                  break;
              }
            },
            error: function(e) {
              console.log(e);
            }
        })
      }
      
      function init() {
        $('.error-id').addClass('display-none');
        $('.error-pw').addClass('display-none');
        $('.error-auth').addClass('display-none');
      }
    </script>
  </body>
</html>
