<!doctype html>
  <head>

    <%- include('./head', {  }); -%>
    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='/stylesheets/main-style.css' />

    <style>
      .list-group-item p {
        margin-bottom: 5px;
      }
      .label-flag{
        margin-right: 10px;
      }
      .label-flag.yes {color: blue;}
      .label-flag.no {color: red;}
    </style>
  </head>

  <body class="bg-light">
    <%- include('./menu', {  }); -%>
    <%- include('./menu2', {  }); -%>
    <script>
      // active 메뉴 설정
      $(".nav-underline .nav-link").removeClass("active");
      $('.nav-underline .nav-link').eq(3).addClass('active');
    </script>

    <main role="main" class="container">
      <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0 list-title">회비</h6>
        <small class="text-right mt-3 list-add-sm">
          <a data-toggle="modal" data-target="#addModal" style="color:#007bff">작성하기</a>
        </small>
        <div class="list-group" class="media text-muted pt-3" onclick="detail()" data-toggle="modal" data-target="#detailModal">
          <div class="list-group-item list-group-item-action">
            <p class="">
              <strong class="d-block text-gray-dark"><label class='label-flag no'>[미확인]</label>김뫄뫄</strong>
              <strong class="d-block text-gray-dark">1000000 원</strong>
              <small>등록일 : 2018/10/06</small>
              <small>작성자 : 김뫄뫄</small>
            </p>
            <div class="memo">
              메모
            </div>
          </div>
          <div class="list-group-item list-group-item-action">
            <p class="">
              <strong class="d-block text-gray-dark"><label class='label-flag yes'>[확인완료]</label>김솨솨</strong>
              <strong class="d-block text-gray-dark">1000000 원</strong>
              <small>등록일 : 2018/10/06</small>
              <small>작성자 : 김뫄뫄</small>
            </p> 
            <div class="memo">
            </div>
          </div>
          <div class="list-group-item list-group-item-action">
            <p class="">
              <strong class="d-block text-gray-dark"><label class='label-flag yes'>[확인완료]</label>김뫄뫄</strong>
              <strong class="d-block text-gray-dark">1000000 원</strong>
              <small>등록일 : 2018/10/06</small>
              <small>작성자 : 김뫄뫄</small>
            </p> 
            <div class="memo">
            </div>
          </div>
          <div class="list-group-item list-group-item-action">
            <p class="">
              <strong class="d-block text-gray-dark"><label class='label-flag yes'>[확인완료]</label>김뫄뫄</strong>
              <strong class="d-block text-gray-dark">1000000 원</strong>
              <small>등록일 : 2018/10/06</small>
              <small>작성자 : 김뫄뫄</small>
            </p> 
            <div class="memo">
            </div>
          </div>
        </div>
        <small class="d-block text-right mt-3">
          <a href="#">더보기</a>
        </small>
      </div>
    </main>


  <!-- Modal -->
  <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">입금확인</h5> 
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table>
            <tr>
              <th class="tb-left-col">입금자</th>
              <th>김뫄뫄</th>
            </tr>
            <tr>
              <th class="tb-left-col">금액</th>
              <th>1000000 원</th>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
          <button type="button" class="btn btn-primary">입금확인</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">회비입력</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table>
              <tr>
                <td class="tb-left-col">입금자</td>
                <td><input type="text" class="input-text-box" placeholder="입금자"/></td>
              </tr> 
              <tr>
                  <td class="tb-left-col">금액</td>
                  <td><input type="text" class="input-text-box" placeholder="금액"/></td>
              </tr>
              <tr>
                  <td class="tb-left-col">메모</td>
                  <td><textarea class="input-text-box" placeholder=""></textarea></td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            <button type="button" class="btn btn-primary">저장</button>
          </div>
        </div>
      </div>
    </div>

    <script>
     function modifySchedule() {

     }
    </script>

    <%- include('./footer', {  }); -%>
  </body>
</html>
