  
      <div class="nav-scroller bg-white box-shadow">
          <nav class="nav nav-underline">
            <a class="nav-link" href="/schedule">일정</a>
            <a class="nav-link" href="/monitoring">모니터링
              <!-- <span class="badge badge-pill bg-light align-text-bottom">27</span> -->
            </a>
            <a class="nav-link" href="/attendance">출석</a>
            <!-- <a class="nav-link" href="#">랭킹</a> -->
            <a class="nav-link" href="/membership-fee">회비</a>
            <a class="nav-link" href="/contact-number">연락처</a>
            <a class="nav-link" href="/admin/member-management">회원관리</a>
            <a class="nav-link" href="/admin/membership-fee-management">회비관리</a>
          </nav>
        </div>
    