
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/schedule">
            <img src="/images/soccer_main.png" alt="" width="25" height="25"> 
            개발FC
        </a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/schedule">개발FC<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mypage">내 정보</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">설정</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="/change-password">비밀번호 변경</a>
                <a class="dropdown-item" href="/">로그아웃</a>
                <a class="dropdown-item" href="/withdrawal">회원탈퇴</a>
                <a class="dropdown-item" href="/report-error">서비스불편신고</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
  
    
  