<!doctype html>
  <head>

    <%- include('./head', {  }); -%>
    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='/stylesheets/main-style.css' />

    <style>
      .list-group-item iframe {
        width: 100%;
        height: 40vw;
      }
      .input-text-box {
        width: 94%;
      }
    </style>

    <script>
       var MONITORING_LIST = JSON.parse('<%- JSON.stringify(monitoring_list)%>');
    </script>
  </head>

  <body class="bg-light">
    <%- include('./menu', {  }); -%>
    <%- include('./menu2', {  }); -%>
    <script>
      // active 메뉴 설정
      $(".nav-underline .nav-link").removeClass("active");
      $('.nav-underline .nav-link').eq(1).addClass('active');

      $(function() {
        //모니터링 리스트 생성 
        if(MONITORING_LIST.length > 0) {
          makeListItem(MONITORING_LIST);
        }
      });
    </script>

    <main role="main" class="container">
      <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0 list-title">모니터링</h6>
        <small class="text-right mt-3 list-add-sm">
          <a data-toggle="modal" data-target="#addModal" style="color:#007bff">동영상 추가</a>
        </small>
        <div id="list-group" class="list-group" class="media text-muted pt-3">
        </div>
       
        <small class="d-block text-right mt-3">
          <a onclick="next()">더보기</a>
        </small>
      </div>
    </main>

  <!-- Modal -->
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">동영상추가</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table>
              <tr>
                <td class="tb-left-col">제목</td>
                <td><input type="text" id="input-title" class="input-text-box" placeholder="제목"/></td>
              </tr> 
              <tr>
                  <td class="tb-left-col">링크</td>
                  <td><input type="text" id="input-link" class="input-text-box" placeholder="링크"/></td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            <button type="button" class="btn btn-primary" onclick="save()">저장</button>
          </div>
        </div>
      </div>
    </div>

    <script>
      //모니터링 리스트 생성
      function makeListItem(list) {
        var list_group_element = $('#list-group');
          for(var i in list) {
            var _createdDate = list[i].created_time;
            var _title = list[i].title;
            var _link = list[i].youtube_link;
            
            list_group_element.append('<div class="list-group-item"><p>' + 
                '<strong class="d-block text-gray-dark">'+_title+'</strong>' + 
                '<iframe src="'+_link+'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>' + 
                '<small>업로드 날짜 : '+_createdDate+'</small></p>' + 
                '<div class="delete-div-absolute">' + 
                '<button type="button" onclick="remove('+list[i].seq+')">' + 
                '<span aria-hidden="true"><img src="/images/delete.png" width="20" height="20"></span>' + 
                '</button></div></div>');
          }
      }
      //모니터링 링크 저장 
      function save() {
        var _title = $('#input-title').val().trim();
        var _link = $('#input-link').val().trim();

        if(_title == '' || _link == '') return;

        $.ajax({
            url: '/monitoring/create',
            type: 'post',
            data: {
              title: _title,
              link: _link
            },
            success: function(result) {
              location.reload();
            },
            error: function(e) {
              console.log(e);
            }
          })
      }
      // 더보기
      function next() {
        var _cnt_of_item = $(".list-group-item").length;
        
        $.ajax({
            url: '/monitoring/more/' + _cnt_of_item,
            type: 'get',
            success: function(result) {
              MONITORING_LIST = MONITORING_LIST.concat(result);
              makeListItem(result);
            },
            error: function(e) {
              console.log(e);
            }
          })        
      } 
      // 삭제
      function remove(seq) {
        $.ajax({
            url: '/monitoring/delete',
            type: 'post',
            data: {
              seq: seq
            },
            success: function(result) {
              location.reload();
            },
            error: function(e) {
              console.log(e);
            }
          })
      }
    </script>

    <%- include('./footer', {  }); -%>
  </body>
</html>
