<!doctype html>
  <head>

    <%- include('./head', {  }); -%>
    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='/stylesheets/main-style.css' />

    <style>
      .my-page-top {
        background-color: #84f4da !important;
      }
    </style>
  </head>

  <body class="bg-light">
    <%- include('./menu', {  }); -%>

    <main role="main" class="container text-center">
      <div class="my-3 p-3 bg-white rounded box-shadow my-page-top">
        <div class="text-right"><img src="/images/pencil.png" alt="" width="20" height="20"></div>
        <img class="mb-4 my-profile" src="/images/profile-default.png" alt="" width="90" height="90">
        <h4>abcdefg</h4>
      </div>
      <div class="my-page-bottom">
        <p>이름</p>
        <p>123-4567-8910</p>
      </div>
    </main>

    <%- include('./footer', {  }); -%>
  </body>
</html>
