<!doctype html>
  <head>

    <%- include('./head', {  }); -%>
    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='/stylesheets/main-style.css' />

    <style>
      .form-changepw {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
      }

      .pw-btn {
        margin-top: 20px;
        background-color: #84f4da;
        border: 0px;
        color: #495057;
      }

      .big-textarea {
        width: 100%;
      }
    </style>
  </head>

  <body class="bg-light">
    <%- include('./menu', {  }); -%>
    <div id="container1" class="form-changepw text-center">
      <h5 class="margin-20px">서비스 불편신고</h5>
      <small>
        이용중 발생한 오류 혹은 개선사항을 보내주세요.<br>
        이용에 불편을 드려 죄송합니다.
      </small>
      <div class="bar"></div>
      <textarea id="textarea1" class="big-textarea" rows="5" placeholder="자세히 적어주실수록 빠른 처리가 가능합니다." autofocus></textarea>
      <input type="file" id="file1">
      <button class="btn btn-primary btn-block pw-btn" onclick="send()">개발자에게 전송</button>
      <button class="btn btn-primary btn-block cancel-btn">그냥 쓸게요</button>
    </div>

    <div id="container2" class="form-changepw text-center display-none">
      <h5 class="margin-20px">접수 완료</h5>
      <small>
        접수되었습니다.<br>
        최대한 빠르게 개선하도록 노력하겠습니다.
      </small>
      <div class="bar"></div>
      <button class="btn btn-primary btn-block pw-btn" onclick="add()">추가 신고하기</button>
    </div>


    <script>
      function send() {
        $("#container2").removeClass('display-none');
        $("#container1").addClass('display-none');
      }

      function add() {
        $('#textarea1').val('');
        $('#file1').val('');
        $("#container1").removeClass('display-none');
        $("#container2").addClass('display-none');
      }
    </script>
    <%- include('./footer', {  }); -%>
  </body>

</html>
