<!doctype html>
  <head>

    <%- include('./head', {  }); -%>
    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='/stylesheets/main-style.css' />
    <style>
    </style>

    <script>
      var SCHEDULES = JSON.parse('<%- JSON.stringify(schedules)%>');
      var PLACES = JSON.parse('<%- JSON.stringify(places)%>');
      var USER = JSON.parse('<%- JSON.stringify(user)%>');
      var SELECTED_ITEM = null; 
      var SELECTED_INDEX = 0;
    </script>

  </head>

  <body class="bg-light">
    <%- include('./menu', {  }); -%>
    <%- include('./menu2', {  }); -%>
    <script>
      // active 메뉴 설정
      $(".nav-underline .nav-link").removeClass("active");
      $('.nav-underline .nav-link').eq(0).addClass('active');
      
      $(function() {
        //일정 리스트 생성 
        if(SCHEDULES.length > 0) {
          makeListItem(SCHEDULES);
          //첫번째 일정 활성화 
          $('#list-group a').eq(0).addClass('active');
        }
        //select options 
        var _select = $('#place-select');
        for(var i in PLACES) {
          _select.append(new Option(PLACES[i].place, PLACES[i].place_seq));
        }
      });
    </script>

    <main role="main" class="container">
      <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0 list-title">축구 일정</h6>
        <small class="text-right mt-3 list-add-sm">
          <a data-toggle="modal" data-target="#addModal" style="color:#007bff" onclick="onAddModalClick()">일정추가</a>
        </small>
        <div id="list-group" class="list-group" class="media text-muted pt-3" data-toggle="modal" data-target="#detailModal">
        </div>
        <small class="d-block text-right mt-3">
          <a style="color:#007bff" onclick='next()'>더보기</a>
        </small>
      </div>
    </main>

  <!-- Modal -->
  <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"></h5> 
            <button type="button" class="modify button-modify" aria-label="Modify"  data-toggle="modal" data-target="#addModal" onclick="modifySchedule()">
              <span aria-hidden="true"><img src="/images/edit.png" width="20" height="20"></span>
            </button>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table>
              <tr>
                <th class="tb-left-col"><img src="/images/marker.png"></th>
                <th id="place-th"></th>
              </tr>
              <tr>
                <th class="tb-left-col"><img src="/images/account.png"></th>
                <th id="members_th"></th>
              </tr>
            </table>
          </div>
          <div class="modal-footer-center">
            <button type="button" class="btn btn-secondary" onclick="attend(false)">불참</button>
            <button type="button" class="btn btn-primary" onclick="attend(true)">참석</button>
          </div>
          <div class="modal-footer-absolute">
            <button type="button" onclick="deleteSchedule()">
                <span aria-hidden="true"><img src="/images/delete.png" width="20" height="20"></span>
              </button>
          </div>
        </div>
      </div>
    </div>


  <!-- Modal -->
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle2"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table>
              <tr>
                <td class="tb-left-col" rowspan="2"><img src="/images/clock.png"></td>
                <td><input id="date-input" type="text" class="input-text-box" placeholder="날짜(YYYY-MM-DD)" maxlength="10"/></td>
              </tr> 
              <tr>
                <td><input id="time-input" type="text" class="input-text-box" placeholder="시간" maxlength="10"/></td>
              </tr>
              <tr>
                <td class="tb-left-col"><img src="/images/marker.png"></td>
                <td colspan="3" style="width:100%">
                  <select id="place-select" class="input-select-box"></select>
                </td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <input type="hidden" id="schedule-seq"/>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            <button type="button" class="btn btn-primary" onclick="save()">저장</button>
          </div>
        </div>
      </div>
    </div>

    <script>
      function makeListItem(schedules) {
        var list_group_element = $('#list-group');
          for(var i in schedules) {
            var _date = schedules[i].date.replace(/-/gi,'/');
            var _time = schedules[i].time;
            var _place = schedules[i].place;
           
            list_group_element.append('<a onclick="detail('+i+')" class="list-group-item list-group-item-action"><p class="">' +
                '<strong class="d-block text-gray-dark">'+_date+' '+_time+'</strong>' + 
                '<small>'+_place+'</small>' +
                '</p></a>');
          }
      }
      // '일정추가' 모달창 호출 시 - 값 초기화 
      function onAddModalClick() {
        $('#exampleModalLongTitle2').html('일정추가');
        $('#date-input').val('');
        $('#time-input').val('');
        $('#place-select').val('');
        $('#schedule-seq').val('');
      }
      //날짜 입력 시 
      $('#date-input').keyup(function(event) {
        var key = event.charCode || event.keyCode || 0;
        $text = $(this); 
        if (key !== 8 && key !== 9) {
          if ($text.val().length === 4) {
              $text.val($text.val() + '-');
          }
          if ($text.val().length === 7) {
              $text.val($text.val() + '-');
          }
        }
      });
      //일정추가 
      function save() {
        var _date = $('#date-input').val().trim();
        var _time = $('#time-input').val().trim();
        var _place_seq = $('#place-select').val();
        var _schedule_seq = $('#schedule-seq').val();

        if(_date == '' || _time == '') return;

        $('.modal-footer button').attr("disabled","disabled");

        if(!checkDateInputData(_date)) {
          alert("날짜 형식을 잘못 입력하셨습니다. 'YYYY-MM-DD' 형식으로 다시 입력해주세요. (예: 2018-11-11)");
          return;
        } else if(_schedule_seq !== '') {
          $.ajax({
            url: '/schedule/update',
            type: 'post',
            data: {
              date: _date,
              time: _time,
              place_seq: _place_seq,
              schedule_seq: _schedule_seq
            },
            success: function(result) {
              location.reload();
            },
            error: function(e) {
              console.log(e);
            }
          })
        } else {
          $.ajax({
            url: '/schedule/create',
            type: 'post',
            data: {
              date: _date,
              time: _time,
              place_seq: _place_seq
            },
            success: function(result) {
              location.reload();
            },
            error: function(e) {
              console.log(e);
            }
          })
        }
      }
      //날짜 입력 데이터 체크 
      function checkDateInputData(data) {
        var pattern = /[0-9]{4}-[0-9]{2}-[0-9]{2}/;
        if(pattern.test(data)) return true;
        else return false;
      }
      // 일정 상세보기 
      function detail(index) {
        SELECTED_ITEM = SCHEDULES[index];
        SELECTED_INDEX = index;
        $(".list-group-item").removeClass('active');
        $(".list-group-item:eq("+index+")").addClass('active');
        
        $('#exampleModalLongTitle').html(SELECTED_ITEM.date + ' ' + SELECTED_ITEM.time);
        $('#place-th').html(SELECTED_ITEM.place);
        $('#members_th').html(SELECTED_ITEM.members);
      }
      //일정 수정 모달 호출 - 값 표현
      function modifySchedule() {
        $('#exampleModalLongTitle2').html('일정수정');
        $('#date-input').val(SELECTED_ITEM.date);
        $('#time-input').val(SELECTED_ITEM.time);
        $('#place-select').val(SELECTED_ITEM.place_seq);
        $('#schedule-seq').val(SELECTED_ITEM.schedule_seq);
      }
      //일정 삭제 
      function deleteSchedule() {
        var _res = confirm('삭제하시겠습니까?'); 
        if(!_res) return;

        $.ajax({
            url: '/schedule/delete',
            type: 'post',
            data: {
              schedule_seq: SELECTED_ITEM.schedule_seq
            },
            success: function(result) {
              location.reload();
            },
            error: function(e) {
              console.log(e);
            }
          })
      }
      //참석여부 
      function attend(param) {
        var _members = $('#members_th').html().split(',');

        switch (param) {
          case true:
            if(_members.indexOf(USER.name) != -1) {
              alert('이미 참석처리된 사용자 입니다.');
              return;
            } else {
              $.ajax({
                url: '/schedule/member/create',
                type: 'post',
                data: {
                  schedule_seq: SELECTED_ITEM.schedule_seq
                },
                success: function(result) {
                  $('#members_th').html(result);
                  SCHEDULES[SELECTED_INDEX].members = result;
                  SELECTED_ITEM.members = result;
                },
                error: function(e) {
                  console.log(e);
                }
              })
            }   
            break;
          case false:
            if(_members.indexOf(USER.name) == -1) {
              return;
            } else {
              $.ajax({
                url: '/schedule/member/update',
                type: 'post',
                data: {
                  schedule_seq: SELECTED_ITEM.schedule_seq
                },
                success: function(result) {
                  $('#members_th').html(result);
                  SCHEDULES[SELECTED_INDEX].members = result;
                  SELECTED_ITEM.members = result;
                },
                error: function(e) {
                  console.log(e);
                }
              })
            }   
            break;
        }
      }
      // 더보기
      function next() {
        var _cnt_of_item = $(".list-group-item").length;
        
        $.ajax({
            url: '/schedule/more/' + _cnt_of_item,
            type: 'get',
            success: function(result) {
              SCHEDULES = SCHEDULES.concat(result);
              makeListItem(result);
            },
            error: function(e) {
              console.log(e);
            }
          })        
      } 
    </script>

    <%- include('./footer', {  }); -%>
  </body>
</html>
