<!doctype html>
  <head>

    <%- include('./head', {  }); -%>
    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='/stylesheets/main-style.css' />

    <style>
      .form-changepw {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
      }

      .pw-btn {
        margin-top: 20px;
        background-color: #84f4da;
        border: 0px;
        color: #495057;
      }
    </style>
  </head>

  <body class="bg-light">
    <%- include('./menu', {  }); -%>
    <form class="form-changepw text-center" action="javascript:withdraw();">
      <h5 class="margin-20px">회원탈퇴</h5>
      <small>
        회원탈퇴 시, 회원님의 개인정보는 모두 삭제처리 됩니다. <br>
        탈퇴 후 언제든지 재가입이 가능합니다.
      </small>
      <div class="bar"></div>
      <input type="password" id="inputPassword" class="form-control" placeholder="비밀번호" required autofocus>
      <button class="btn btn-primary btn-block pw-btn" type="submit">회원탈퇴</button>
      <button class="btn btn-primary btn-block cancel-btn">취소</button>
    </form>


    <script>
      function withdraw() {
        // alert("관리자는 계속 관리하셔야죠");
        location.href = "/complete-withdrawal";
      }
    </script>
    <%- include('./footer', {  }); -%>
  </body>

</html>
